#topBar{
    height: 100px;
    border-image-width: 5px;
    border-color: blueviolet;
    margin-top: 10px;
    background-color: rgb(253, 255, 254);
    margin-bottom: 20px;
}
#logoIMG{
    height: 75px;
}
#buttonHead {
    font-size: 15pt;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerButtons{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
    text-transform: capitalize;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
   
}
/* #search-form {
    float: right;
    margin-top: 45px;
    
} */
#search-input{

}
.searchBar {
    

}

#jumbo{
    box-sizing: border-box;
    height: 300px;
    background-image: url(billboard.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    
}


.food_container, .monument_container, .news_container, .concert_container{
    margin-top: 25px;

} 

#searchJumbo {
    margin-top: 100px;
    margin-left: 550px;
    
}

.cityName {
    font-size: 20pt;
    margin-left: 10px;
}

.tempF {
    font-size: 20pt;
}

span.glyphicon-cutlery{
    font-size: 40px;
    padding: 10px;
}
span.glyphicon-globe{
    font-size: 40px;
    padding: 10px;
}
span.glyphicon-music{
    font-size: 40px;
    padding: 10px;
}
span.glyphicon-tree-conifer{
    font-size: 40px;
    padding: 10px;
}

span.glyphicon-search{
    font-size: 25px;
}


#weather{
    margin-top: 25px;
}


.info_row{
    margin-top: 15px;
}


.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.brand{
    float: left;
    height: 75px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav{
    list-style: none;
    margin-top: 10px;
}


.btn-default {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
}


.btn-info{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
}
