#topBar{
    height: 100px;
    border-image-width: 5px;
    border-color: blueviolet;
    background-color: rgb(253, 255, 254);
    padding-top:10px;
}
#logoIMG{
    height: 75px;
}
#buttonHead {
    font-size: 15pt;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerButtons{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
    text-transform: capitalize;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
   
}
#search-form {
    float: right;
    padding-top: 18px;
    padding-right: 15px;
    
}
#search-input{

}
.searchBar {

}

#jumbo{
    box-sizing: border-box;
    /* padding-top: 500px; */
    height: 100%;
    width: 100%;
    /* background-image: url(billboard.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom; */
    
}

#billboard{
    width: 100%;
    bottom: 93px;
    position: fixed;
    text-align: center;
}


.food_container, .monument_container, .news_container, .concert_container{
    margin-top: 25px;

} 

#tagLine {
    font-size: 30px;
    position: absolute;
    color: purple;
    font-family: 'Homemade Apple', cursive;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#search-formj {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#searchJumbo{
    
}

.cityButtons{
    padding-top: 12px;
}

.cityName {
    font-size: 20pt;
    margin-left: 10px;
}

.tempF {
    font-size: 20pt;
}

span.glyphicon-cutlery{
    font-size: 40px;
    padding: 10px;
}
span.glyphicon-globe{
    font-size: 40px;
    padding: 10px;
}
span.glyphicon-music{
    font-size: 40px;
    padding: 10px;
}
span.glyphicon-tree-conifer{
    font-size: 40px;
    padding: 10px;
}

span.glyphicon-search{
    font-size: 25px;
    top: 8px;
}


#weather_container{
    height: 610px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#weather{
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: plum;
}

#weather_box{
    color: #f0ecf3;
}


.info_row{
    margin-top: 15px;
}


#navcontainer{
    height: 100px;
    border-image-width: 5px;
    border-color: blueviolet;
    background-color: #eeeeee;
    padding-top:10px;
    border-bottom-width: 1.5px;
   
}
.brand{
    float: left;
    height: 75px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 20px;
}

ul {
    list-style-type:none;
    
}

li {
    list-style-type:none;
}
.navbar-nav{
    list-style: none;
}

#headline {
    text-align: center;
}

#brief {
    font-size: 11pt;
    color: grey;
}

.thumbnail {
    /* width: 600px; */
    border-color: blueviolet;
    align-content: center;
}

.foodThumb {
    width: 200px;
    float: left; 
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 200px; 
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
}

.btn-group {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
}

.btn-group-justified {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
}

.btn-primary { 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
    border-color: blueviolet;
}

 .optionT {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
}

.optionM {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: white; color: black;
}


html, body {
    margin: 0; padding: 0;
}
.hero-bkg-animated {
    background: gray url(../assets/clouds.jpg) repeat 0 0;
    -webkit-animation: slide 20s linear infinite;
}
  
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

#navabarCitiesDropdown>li>a:focus, #navabarCitiesDropdown>li>a:hover{
    color: purple;
    background-color: #72008656;
}

#navabarCitiesDropdown{
    color: purple;
}

#navabarCitiesDropdown:hover, #navabarCitiesDropdown:focus{
    background-color: #17acda56;
}

.footer{
    /* background: linear-gradient(to bottom right, purple, plum); */
    background: rgb(114, 0, 114);
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 93px;
    bottom: 0px;
    position: fixed;
}

#footer_text{
    
    margin-top: 30px;
    color: #eeeeee
}