#topBar{
    height: 200px;
    border-image-width: 5px;
    border-color: blueviolet;
    margin-top: 10px;
    background-color: aquamarine;
}
.logo{

}

.cityButtons{

}

.searchBar{

}

#jumbo{

}

.searchJumbo{
    
}

.food_container, .monument_container, .news_container, .concert_container{
    visibility: hidden;

}